{% set page = 'changepassword' %}
{% extends "base.twig" %}
{% block title %}Change Password{% endblock %}

{% block content %}
<div class="content">
<body class="body-landing-page">

<div style="padding-left:15px">
    <h2>Change the password of your Account</h2>
    <p class="hero-paragraph">To change the password of your account fill the inputs.</p>
    <form class="change-password-form" data-cy="password" action="{{ formAction }}" method="POST">
        <p>Old Password</p>
        <input class="old-password" type="password" data-cy="old-password" id="old-password" name="old-password"></input>
        <p>New Password</p>
        <input class="new-password" type="password" data-cy="new-password-1" id="new-password-1" name="new-password-1"></input>
        <p>Confirm Password</p>
        <input class="confirm-password" type="password" data-cy="new-password-2" id="new-password-2" name="new-password-2"></input>
        <p>
            <div class="save"><a><input class="signin-signup-input" data-cy="save_new-password_btn" type="submit" value="Save"></input></a></div>   
        </p>
    </form>
</div>

</body>
</div>
{% endblock %}