{% set page = 'home' %}

{% extends "base.twig" %}
{% block title %}PixSalle | Landing page{% endblock %}

{% block content %}
<div class="content">
<body class="body-landing-page">
<div style="padding-left:15px">
    <h2>PixSalle | Landing Page</h2>
    <h3>Introduction</h3>
    <p class="hero-paragraph">The Student Council of La Salle saw that a lot of students are passionate about photography. They have posted their amazing photos on various social media accounts. To help the students develop their skills and inspire them to be
professional photographers one day, the professors proposed to create a Photography web application.</p>
    <h3>Brief Description</h3>
    <p class="hero-paragraph">PixSalle is a new platform where students can freely showcase their work and express themselves through photography. This web application will allow them to be members, explore photos posted by other photographers and picture editors, view resources that they can use to improve their work and contribute to the knowledge sharing within the community through blogs. Be inspired by [500px](https://500px.com/) and let your creativity soar and go wild.</p>
    <h3>Main Features</h3>
    <p>0. Register and Login (this is already done for you, including associated cypress tests)</p>
    <p>1. Landing page</p>
    <p>2. Profile</p>
    <p>3. Wallet</p>
    <p>4. Memberships</p>
    <p>5. Explore</p>
    <p>6. Portfolio</p>
    <p>7. Blogs</p>
    <h3>Main Functionalities</h3>
</div>
</body>
</div>
{% endblock %}
